/* You can add global styles to this file, and also import other style files */
.column {
    float: left;
    height: 800px;
    padding: 10px;
    
  }
  
  .left {
    width: 40%;
   
    background-color: black;
  }
  
  .right {
    width: 60%;
   
    background-color: white;
  }
 